# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.js
*.js.map
out/
dist/
tsconfig.tsbuildinfo

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Operating System-Specific Files
# macOS
.DS_Store

# Windows
Thumbs.db
*.user

# Linux
*~

# Security & Secrets
.env
